@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

#root {
  background: url('./assets/Background_menu.png') center center/cover;
  scroll-behavior: smooth;
  min-height: 100vh;
}