@import "assets/colors/colors.css" ;
body {
  margin: 0;
  font-family: "American Typewriter", fangsong , "Times New Roman", 'fangsong', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, '.AppleSystemUIFont , sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', serif;
}
