# Node.js dependencies
node_modules/
node_modules/node/bin/node
npm-debug.log*
package-lock.json
yarn.lock

# Logs en tijdelijke bestanden
logs/
*.log
debug.log
error.log
pids/
tmp/
.cache/


.idea
.idea/

# Milieuvariabelen (beveiliging)
.env
.env.local
.env.*.local

# VS Code instellingen
.vscode/

# OS-specifieke bestanden
.DS_Store
Thumbs.db
