
.moderator-game {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  min-width: 850px;
  .message{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    min-width: 850px;
    box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.3);
    background-color: var(--msg-bg);
    color: var(--msg-color);
    font-size: 32px;
    font-weight: bolder;


  }
  .loading {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 32px;
    font-weight: bolder;
    margin: 40px auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3); ;
  }
  header {
    display: flex;
    flex-direction: row;
    background-color: var(--container);
    grid-gap: 2rem;
    border: 2px solid transparent;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 30px;

    p {
      display: flex;
      align-items: center;
      width: fit-content;
      height: 40px;
      font-size: 16px;
      margin: 7px;

    }
    .start_game_button {
      display: flex;
      background-color: var(--start-game-button);
      border: 2px solid var(--secondary-text);
      border-radius: 7px;
      box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.3);
      font-weight: bolder;
      transition: 1s;
      &:hover{
        scale: 1.2;
      }
    }
  }

  .info-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    width: 98%;
    overflow: visible;
    height: 130px;
    border: 2px solid transparent;
    border-radius:7px;



    .title {
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .teams-result {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 7px;
      overflow: visible;



      .team-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        padding: 20px;
        height: 85%;
        border-radius: 8px;
        background: var(--team-kaart);


        .team-title-container{
          display: flex;
          flex-direction: column;
          align-items: start;
          text-align: center;
          justify-content: center;

          .popup_button{
            position: relative;
            top: -30px;
            left: -30px;
            border-radius: 50px;
            background-color: transparent;
            border: none;
            cursor: pointer;


            img{

              display: flex;
              height: 90px;
              border-radius: 50%;


            }
          }
          @keyframes point {
            0% {
              transform: translateY(5px);
            }

            65%{
              transform: rotate(0);
            }
            80%{
              transform: rotate(-12deg);
            }
            90% {
              transform: rotate(5deg);
            }
            100%{
              transform: translateY(5px);
            }
          }
          .active {
            border: 2px white solid;
            background-color:var(--start-game-button) ;
            animation: point 2s linear infinite;
            &:hover{
              scale: 1.1;
            }

          }


          h3, h5{
            height: 10px;
          }

        }
        .cell-container {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100%;
          padding: 7px;
          overflow: scroll;
          border: dashed 1px white;
          .board-cell {
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 100px;
            border-radius: 5px;
            margin: 3px;
            font-weight: normal;


          }
        }


      }
    }
  }
  .game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container);
    border-radius: 7px;
    width: 98%;
    padding: 2px;
    .waiting-text{
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .wait {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 5px dotted;
    border-radius: 50%;
    border-color: white white white var(--text-price);
    animation: spin 1s linear infinite;
    margin-left: 8px; /* optioneel voor wat ruimte tussen tekst en spinner */
  }

  .fout {
    border-color: red;
    background-color: rgba(255,55,18,0.2);
  }
  .fout_massage{
    color:red;
  }


}
